@model IEnumerable<Vera.CMS.Models.Repository.Pages.PageItem>

@{
    ViewBag.Title = "Hello world!";
    Layout = "_Layout";
}
@{
    foreach (var pageItem in Model)
    {
        var url = Url.Action("DetailPage", "Pages", new {pageId = pageItem.Id});
        <div class="blog-post">
            <h2 class="blog-post-title">
                <a href="@url">@pageItem.Header</a>
            </h2>
        </div>
    }
}