@model IEnumerable<Vera.CMS.Models.Repository.Pages.PageItem>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<section class="mt-5">
    @{
        foreach (var pageItem in Model)
        {
            <h2 class="mb-3">
                <a href="#">@pageItem.Header</a>
            </h2>
        }
    }
</section>